%div#share-modal.modal.hide.fade
  %div.modal-header
    %button.close{"data-dismiss" => "modal"} x
    %h3
      %i.icon-share
      Dartage de dixon !
  %div.modal-body
    %h4
      %i.icon-comments-alt
      Dartage docial
    = render "twitter_tweet"
    
    %h4
      %i.icon-envelope-alt
      Dartage dar dmail
    = simple_form_for(:email, :url => "/share", :remote => true) do |f|
      %div.row-fluid
        %div.pull-left
          = f.input :my_email, :label => "Don dmail"
        %div.pull-right
          = f.input :friend_email, :label => "Dmail de don dmi(e)"
      %div.row-fluid
        = f.input :message, :as => :text
        = f.input :blurb, :as => :hidden, :input_html => {:value => "Bonjour ! Un(e) ami(e) te partage un Dixon ! Ecoute le sur le Dixonaire.fr ! "}

        = f.submit "Dnvoyer !", :class => "btn btn-primary pull-right"
        %i#send-spinner.icon-spinner.icon-spin.icon-2x.pull-right