%div.btn-group.pull-right
  %a#tts-button.btn.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#"}
    %i.icon-volume-up
    %span.caret
  %ul.dropdown-menu
    %li
      %a.play-button{"data-lang" => "fr"}
        = image_tag("flags/fr.png")
        Drancais
    %li
      %a.play-button{"data-lang" => "es"}
        = image_tag("flags/es.png")
        Dspagnol
    %li
      %a.play-button{"data-lang" => "en"}
        = image_tag("flags/us.png")
        Dnglais
    %li
      %a.play-button{"data-lang" => "ru"}
        = image_tag("flags/ru.png")
        Dusse
    %li
      %a.play-button{"data-lang" => "zh"}
        = image_tag("flags/cn.png")
        Dhinois