%div#twitter_tweet
	%a.twitter-share-button{"href" => "https://twitter.com/share", "data-text" => "", "data-url" => "", "data-via" => "DeDixonaire", "data-lang" => "fr", "data-count" => "none"}
		Tweeter
	
:javascript
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");