%div.span6
  %h5
    %i.icon-comments
    D'importe duelle dangue
  = text_area_tag :dixon_source, @dixon ? @dixon.source : ""
%div.span6
  %h5
    %i.icon-comment
    Dixon
  = text_area_tag :dixon_translated, @dixon ? @dixon.translation : "", :disabled => true
  %a#share-btn.btn.btn-primary{"href" => "#share-modal", "role" => "button", "data-toggle" => "modal"}
    %i.icon-share.icon-white
    Dartager
  %span#share-flash.badge.badge-success
    Dixon dnvoyé !

  = render "tts_menu"
  
  %audio#player
    %source#player-source{:src => "", :type => "audio/mpeg"}

= render "share_modal"