%div#main_menu.row-fluid
  %div.span12
    %a.btn.btn-large.btn-primary{:href => translate_path}
      Draducteur
    %a.btn.btn-large.btn-primary
      Dlassiques
    %a.btn.btn-large.btn-primary
      Distoire du Dixon