%a.twitter-follow-button.pull-right{"href" => "https://twitter.com/DeDixonaire", "data-show-count" => "false", "data-lang" => "fr"}
	Suivre @DeDixonaire

:javascript
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
