/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container-narrow {
	margin: 0 auto;
	max-width: 940px;
}

#main_menu {
	margin-bottom: 20px;
}

#tts-selection {
	select {
		width: 150px;
	}
	a {
		margin-top: -8px;
	}
}

#dixon_source, #dixon_translated {
	width: 444px;
	height: 150px;
	resize: none;
}

#dixon_translated {
	padding: 4px 6px 4px 6px;
	margin-bottom: 9px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #F0F0F0;
	cursor: text;
}

.play-button {
	cursor:pointer;
	img {
		border: 2px solid #cccccc;
		margin-bottom: 3px;
	}
}

#share-flash {
	display:none;
}

#email_message {
	width: 516px;
	height: 130px;
}

#send-spinner {
	margin-right: 10px;
	display:none;	
}