!!! 5
%html{"xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title= t('application_title')
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{"property" => "og:type", "content" => "website"}
    %meta{"property" => "og:url", "content" => "http://dixonaire.fr"}
    %meta{"property" => "og:image", "content" => "http://dixonaire.fr#{image_path("dixonaire-sm.png")}"}
    %meta{"property" => "og:site_name", "content" => "Le Dixonaire"}
    %meta{"property" => "og:title", "content" => "Traducteur en Dixon"}
    %meta{"property" => "og:description", "content" => "Le Dixonaire te permet de traduire n'importe quel texte en Dixon. D'est Drop dien !"}
    %meta{"name" => "description", "content" => "Le Dixonaire te permet de traduire n'importe quel texte en Dixon. D'est Drop dien !"}
    %meta{"property" => "fb:admins", "content" => "612010399"}
    = render "shared/ga"
      
%body
  %div#fb-root
  %div.container-narrow
    %h1= t 'application_title'
    = render "shared/main_menu"
    %div.row-fluid
      = yield
    %hr
    %div.footer
      &copy; Guillaume Deflaux
      - if request.domain != "localhost"
        = render "shared/twitter_follow"
        = render "shared/fb_like"
        = render "shared/plus"